.ll-container .ll-child.ll-width-25 {
  width: 25%;
}

.ll-container .ll-child.ll-width-50 {
  width: 50%;
}

.ll-container .ll-child.ll-width-20 {
  width: 20%;
}

.ll-container .ll-child.ll-width-33 {
  width: 33%;
}

.ll-container .ll-child.ll-width-auto {
  width: auto;
}

.ll-container .ll-child.ll-float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.ll-container .ll-child.ll-float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}
