.ll-container .ll-child.ll-width-25 {
  width: 25%;
}

.ll-container .ll-child.ll-width-50 {
  width: 50%;
}

.ll-container .ll-child.ll-width-20 {
  width: 20%;
}

.ll-container .ll-child.ll-width-33 {
  width: 33%;
}

.ll-container .ll-child.ll-float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.ll-container .ll-child.ll-float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.ll-container .ll-column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ll-container .ll-column-container .ll-parent-width-80 {
  flex: 1 1 80%;
}

.ll-container .ll-column-container .ll-parent-width-75 {
  flex: 1 1 75%;
}

.ll-container .ll-column-container .ll-parent-width-66 {
  flex: 1 1 66%;
}

.ll-container .ll-column-container .ll-parent-width-50 {
  flex: 1 1 50%;
}

.ll-container .ll-column-container .ll-parent-width-33 {
  flex: 1 1 33%;
}

.ll-container .ll-column-container .ll-parent-width-25 {
  flex: 1 1 25%;
}

.ll-container .ll-column-container .ll-parent-width-20 {
  flex: 1 1 20%;
}
