{% set classes_container = ['ll-container', settings.classes_container] %}
{% set classes_main = ['ll-main', settings.classes_main] %}
{% set classes_child = ['ll-child', settings.child_width, settings.child_float, settings.classes_child] %}
<div{{ attributes.setAttribute('class', classes_container) }}>
  {% if content.header %}
  <div class="ll-header">
    {{ content.header }}
  </div>
  {% endif %}
  <div{{ attributes.setAttribute('class', classes_main) }}">
    <div{{ attributes.setAttribute('class', classes_child) }}">
      {{ content.child }}
    </div>
    {{ content.main }}
  </div>
  {% if content.footer %}
  <div class="ll-footer">
    {{ content.footer }}
  </div>
  {% endif %}
</div>
